.application-page {
  display: flex;
  flex-direction: column;
}
.application-page .application-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}
.application-page .application-page-container .application-form {
  padding: 36px 99px 53px 99px;
  border-radius: 61px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background: #f8f8f8;
  box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.25);
}
.application-page .application-page-container .application-form h2 {
  color: #000;
  font-family: Inter;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}
.application-page .application-page-container .application-form .helos {
  display: flex;
}
.application-page .application-page-container .application-form .helos h4 {
  margin-right: 10px;
}
.application-page .application-page-container .application-form .helos input {
  width: 150px;
}
.application-page .application-page-container .application-form input, .application-page .application-page-container .application-form textarea {
  border-radius: 25px;
  border: 1px solid #e2e1e1;
  background: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
  outline: none;
  padding: 21px 20px 21px 42px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  width: 397px;
  font-weight: 400;
  line-height: normal;
}
.application-page .application-page-container .application-form textarea {
  min-height: 150px;
}
.application-page .application-page-container .application-form button {
  background-color: #0078c3;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  padding: 14px 80px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  line-height: normal;
  width: -moz-fit-content;
  width: fit-content;
}
.application-page .application-page-container .application-form p {
  color: #000;
  font-family: Inter;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-style: normal;
  gap: 5px;
  font-weight: 500;
  line-height: normal;
}
.application-page .application-page-container .application-form p span {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

@media screen and (max-width: 1500px) {
  .application-page .application-page-container .application-form {
    padding: 16px 50px 13px 50px;
    border-radius: 61px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background: #f8f8f8;
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.25);
  }
  .application-page .application-page-container .application-form h2 {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
  }
  .application-page .application-page-container .application-form input, .application-page .application-page-container .application-form textarea {
    border-radius: 25px;
    border: 1px solid #e2e1e1;
    background: #fff;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
    outline: none;
    padding: 19px 6px 18px 20px;
    color: #000;
    font-family: Inter;
    width: 297px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .application-page .application-page-container .application-form button {
    background-color: #0078c3;
    color: #fff;
    font-family: Inter;
    font-size: 18px;
    margin-top: 20px;
    border: none;
    border-radius: 25px;
    padding: 14px 50px;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    width: -moz-fit-content;
    width: fit-content;
    line-height: normal;
  }
  .application-page .application-page-container .application-form p {
    color: #000;
    font-family: Inter;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    gap: 5px;
    font-weight: 500;
    line-height: normal;
  }
  .application-page .application-page-container .application-form p span {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
  }
}/*# sourceMappingURL=styles.css.map */