.profile-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    img{
        width: 60%;
        object-fit: contain;
        height: 500px;
    }
.profile-text{
    display: flex;
    justify-content: flex-start;
    width: 40%;
    gap: 20px;
    font-weight: 600;
    color: black;
    font-size: 20px;
    span{
        font-weight: 400;
        color: black;
        font-size: 18px;
        text-align: left;
    }
}
.logout{
    background: #0b63f8;
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: Poppins;
    cursor: pointer;
}
}