.add-section-container {
  display: flex;
  flex-direction: column;
}
.add-section-container .rowss {
  display: flex;
  margin-top: 20px;
  gap: 60px;
  justify-content: space-between;
  max-width: 90%;
  margin: 30px auto 30px auto;
  width: 100%;
  align-items: center;
}
.add-section-container .rowss h2 {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin: 0px;
  text-align: left;
  line-height: normal;
}
.add-section-container .rowss .categories {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.add-section-container .rowss .categories::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.add-section-container .rowss .categories {
  display: flex;
  overflow-x: scroll;
  gap: 10px;
}
.add-section-container .rowss .categories .rin {
  display: flex;
  gap: 20px;
  align-items: center;
}
.add-section-container .rowss .categories .rin button {
  background: #0b63f8;
  border-radius: 5px;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  cursor: pointer;
}
.add-section-container .rowss .categories .rin .close {
  background: #ff6347;
}
.add-section-container .rowss .categories span {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 85px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.32px;
  padding: 4px 36px;
  border-radius: 444px;
  background-color: #0078c3;
}
.add-section-container .input-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.add-section-container .input-container input {
  padding: 6px 74px;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  width: 225px;
  font-weight: 300;
  line-height: normal;
  border-radius: 5px;
  border: 1px solid #ada7a7;
  background: #fff;
  outline: none;
  color: black;
}
.add-section-container .input-container button {
  background-color: #0078c3;
  color: white;
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 444px;
  border: none;
  outline: none;
}
.add-section-container .long {
  width: 33%;
}
.add-section-container .short {
  width: 100px;
}
.add-section-container table.blueTable {
  width: 100%;
  text-align: center;
  border: none;
  border-spacing: 0px;
}
.add-section-container table.blueTable td ul {
  display: flex;
  gap: 10px;
}
.add-section-container table.blueTable td ul li {
  list-style-type: none;
}
.add-section-container table.blueTable th {
  border: 1px solid #ada7a7;
}
.add-section-container table.blueTable tbody td {
  font-size: 16px;
  border: 1px solid #ada7a7;
}
.add-section-container tr {
  border: 1px solid #C7C7C7;
}
.add-section-container .thf {
  display: flex;
  flex-direction: column;
}
.add-section-container table.blueTable thead {
  background: #d9d9d9;
}
.add-section-container table.blueTable thead th {
  color: #000;
  font-family: Poppins;
  padding: 10px 0px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}/*# sourceMappingURL=styles.css.map */