.add-section-container {
  display: flex;
  flex-direction: column;
  .input-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    input {
      padding: 6px 74px;
      color: #ada7a7;
      font-family: Poppins;
      font-size: 17px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      border-radius: 5px;
      border: 1px solid #ada7a7;
      background: #fff;
      outline: none;
    }
    button {
      background-color: #0078c3;
      color: white;
      font-size: 16px;
      padding: 10px 25px;
      border-radius: 444px;
      border: none;
      outline: none;
    }
  }
  .long{
    width: 33%;
  }
  .short{
    width: 100px;
  }
  table.blueTable {
    width: 100%;
    text-align: center;
    border: none;
    border-spacing: 0px;
  }
  table.blueTable td{
    // border: 1px solid #C7C7C7;
  }
  table.blueTable th {
  }
  table.blueTable tbody td {
    font-size: 16px;
  }
  tr{
    border: 1px solid #C7C7C7; 
  }
  .thf{
    display: flex;
    flex-direction: column;
    // border-bottom: 1px solid #C7C7C7;
    td{
    }
  }
  table.blueTable thead {
    background: #d9d9d9;
  }
  table.blueTable thead th {
    color: #000;
    font-family: Poppins;
    padding: 10px 0px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  //   table.blueTable tfoot td {
  //     font-size: 14px;
  //   }
  //   table.blueTable tfoot .links {
  //     text-align: right;
  //   }
  //   table.blueTable tfoot .links a{
  //     display: inline-block;
  //     background: #1C6EA4;
  //     color: #FFFFFF;
  //     padding: 2px 8px;
  //     border-radius: 5px;
  //   }
}
