.add-section-container {
  display: flex;
  flex-direction: column;
   .rowss {
    display: flex;
    margin-top: 20px;
    gap: 60px;
    justify-content: space-between;
    max-width: 90%;
    margin: 30px auto 30px auto;
    width: 100%;
    align-items: center;
    h2 {
      color: #000;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      margin: 0px;
      text-align: left;
      line-height: normal;
    }
    .categories {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    .categories::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera */
    }
    .categories {
      display: flex;
      overflow-x: scroll;
      .rin {
        display: flex;
        gap: 20px;
        align-items: center;
        button {
          background: #0b63f8;
          border-radius: 5px;
          border: none;
          color: #fff;
          padding: 10px 20px;
          font-size: 16px;
          font-weight: 500;
          font-family: Poppins;
          cursor: pointer;
        }
        .close {
          background: #ff6347;
        }
      }
      gap: 10px;
      span {
        color: #fff;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        width: fit-content;
        min-width: 85px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.32px;
        padding: 4px 36px;
        border-radius: 444px;
        background-color: #0078c3;
      }
    }
  }
  .input-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    input {
      padding: 6px 74px;
      // color: #ada7a7;
      font-family: Poppins;
      font-size: 17px;
      font-style: normal;
      width: 225px;
      font-weight: 300;
      line-height: normal;
      border-radius: 5px;
      border: 1px solid #ada7a7;
      background: #fff;
      outline: none;
      color: black;
    }
    button {
      background-color: #0078c3;
      color: white;
      font-size: 16px;
      padding: 10px 25px;
      border-radius: 444px;
      border: none;
      outline: none;
    }
  }
  .long{
    width: 33%;
  }
  .short{
    width: 100px;
  }
  table.blueTable {
    width: 100%;
    text-align: center;
    border: none;
    border-spacing: 0px;
  }
  table.blueTable td{
    // border: 1px solid #C7C7C7;
    .edit{
      padding: 2px 10px;
      margin: 12px auto;
      width: 50px;
      border: none;
      color: white;
      background: #0b63f8;
      border-radius: 5px;
    }
    ul{
      display: flex;
      gap: 10px;
      li{
        list-style-type: none;
      }
    }
  }
  table.blueTable th {
    border: 1px solid #ada7a7;
  }
  table.blueTable tbody td {
    font-size: 16px;
    padding: 0px;
    border: 1px solid #ada7a7;
    span{
      display: flex;
    flex-direction: column;
    border: 1px solid #ada7a7;
    }
    p{
      border: 1px solid #ada7a7;
      padding: 12.4px 4px;
      margin: 0px;
      ul{
        padding: 0;
        margin: 0;
        li{
          margin: 0;
        }
      }
    }    
  }
  tr{
    border: 1px solid #C7C7C7; 
  }
  .thf{
    display: flex;
    flex-direction: column;
    // border-bottom: 1px solid #C7C7C7;
    td{
    }
  }
  table.blueTable thead {
    background: #d9d9d9;
  }
  table.blueTable thead th {
    color: #000;
    font-family: Poppins;
    padding: 10px 0px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  //   table.blueTable tfoot td {
  //     font-size: 14px;
  //   }
  //   table.blueTable tfoot .links {
  //     text-align: right;
  //   }
  //   table.blueTable tfoot .links a{
  //     display: inline-block;
  //     background: #1C6EA4;
  //     color: #FFFFFF;
  //     padding: 2px 8px;
  //     border-radius: 5px;
  //   }
}
