.resources-container {
  display: flex;
  flex-direction: column;
  margin: 30px 50px 0px 50px;
}
.resources-container .rows {
  display: flex;
  gap: 60px;
  align-items: center;
}
.resources-container .rows h2 {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin: 0px;
  text-align: left;
  line-height: normal;
}
.resources-container .rows .categories {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.resources-container .rows .categories::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.resources-container .rows .categories {
  display: flex;
  overflow-x: scroll;
  gap: 10px;
}
.resources-container .rows .categories span {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 85px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.32px;
  padding: 4px 36px;
  border-radius: 444px;
  background-color: #0078c3;
}
.resources-container .rowss {
  display: flex;
  margin-top: 20px;
  gap: 60px;
  justify-content: space-between;
  align-items: center;
}
.resources-container .rowss h2 {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin: 0px;
  text-align: left;
  line-height: normal;
}
.resources-container .rowss .categories {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.resources-container .rowss .categories::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.resources-container .rowss .categories {
  display: flex;
  overflow-x: scroll;
  gap: 10px;
}
.resources-container .rowss .categories .rin {
  display: flex;
  gap: 20px;
  align-items: center;
}
.resources-container .rowss .categories .rin button {
  background: #0b63f8;
  border-radius: 5px;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  cursor: pointer;
}
.resources-container .rowss .categories .rin .close {
  background: #ff6347;
}
.resources-container .rowss .categories span {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 85px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.32px;
  padding: 4px 36px;
  border-radius: 444px;
  background-color: #0078c3;
}
.resources-container .resources-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  position: relative;
  gap: 20px;
}
.resources-container .resources-wrapper .long {
  width: 30%;
}
.resources-container .resources-wrapper .green {
  color: #31bc01;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.resources-container .resources-wrapper .short {
  width: 100px;
}
.resources-container .resources-wrapper table.blueTable {
  width: 100%;
  text-align: center;
  border: none;
  border-spacing: 0px;
}
.resources-container .resources-wrapper table.blueTable th {
  color: #000;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.resources-container .resources-wrapper table.blueTable tbody td {
  font-size: 16px;
  padding: 10px 0px;
  border: 1px solid #dfdfdf;
}
.resources-container .resources-wrapper .blue {
  color: #0b63f8;
}
.resources-container .resources-wrapper tr {
  border: 1px solid #f2f2f2;
}
.resources-container .resources-wrapper .thf {
  display: flex;
  flex-direction: column;
}
.resources-container .resources-wrapper .thf td {
  padding: 0;
}
.resources-container .resources-wrapper .underline {
  text-decoration: underline;
}
.resources-container .resources-wrapper table.blueTable thead th {
  color: #000;
  font-family: Poppins;
  padding: 10px 0px;
  border: 1px solid #dfdfdf;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Modal Container */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Content */
.modal-contents {
  background: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Close Button */
.modal-contents .send {
  background: #0b63f8; /* Tomato Red */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.modal-contents .row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modal-contents .close {
  background: #ff6347; /* Tomato Red */
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Poppins";
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

/* Close Button Hover Effect */
.modal-contents .close:hover {
  background: #ff4d35; /* Slightly darker red on hover */
}

.modal-contents .send:hover {
  background: #0b63f8; /* Slightly darker red on hover */
}

.modal-contents .rowsins {
  display: flex;
  justify-content: space-between;
}
.modal-contents .rowsins .row-sin {
  display: flex;
  flex-direction: column;
  width: 48%;
  justify-content: flex-start;
}
.modal-contents .rowsins .row-sin p, .modal-contents .rowsins .row-sin label {
  margin: 0px;
  text-align: left;
}
.modal-contents .rowsins .row-sin input,
.modal-contents .rowsins .row-sin select {
  padding: 15px 10px;
  border-radius: 100px;
  border: 1px solid #ccc;
}/*# sourceMappingURL=styles.css.map */