.header {
  display: flex;
  justify-content: space-between;
  background: #FFF;
box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);
  .header-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    figure {
      margin: 29px 0px 26px 0px;
      width: 115px;
      height: 34px;
      img {
        width: 100%;
        height: 100%;
        margin: 0px;
      }
    }
    .tags-container {
      display: flex;
      gap: 15px;
      align-items: center;
      .nav-tags {
        display: flex;
        gap: 40px;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        a{
          text-decoration: none;
        }
        li {
          color: #000;
          font-family: 'Inter';
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        :last-child {
                color: #0078C3;
        }
      }
      span{
        color: lightgray ;
      }
      .search{
        font-size: 25px;
        height: 25px;
        width: 25px;
      }
    }
  }
}
.heading{
  h2
  {color: #0B63F8;
font-family: Poppins;
font-size: 24px;
margin: 10px 0px ;
text-align: center;
font-style: normal;
font-weight: 500;
line-height: normal;}
}
.section-header {
  display: flex;
  justify-content: space-between;
  background: #FFF;
  .header-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin: 0 auto;
    figure {
      margin: 0px 0px 26px 0px;
      width: 115px;
      height: 34px;
      img {
        width: 100%;
        height: 100%;
        margin: 0px;
      }
    }
    // .inner-header {
    //   display: flex;
    //   margin: 55px 0px 0px 0px;
    //   width: 100%;
    //   align-items: center;
    //   justify-content: space-between;
      .search-field {
        position: relative;
        max-width: 655px;
        width: 40%;
        margin: 0px 0px 0px -100px;
        .search-icon {
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
        }
        .search-input {
          border-radius: 3px;
          padding: 13px 0px 14px 50px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          background: #fff;
          font-family: Poppins;
          width: 100%;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          color: black;
          line-height: normal;
        }
      }
      .user-profile {
        display: flex;
        align-items: center;
        gap: 60px;
        button {
          color: white;
          background-color: #0078C3;
          border: none;
          outline: none;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          border-radius: 1222px;
          line-height: normal;
          padding: 9px 35px 14px  35px;
          cursor: pointer;
        }
        .profile{
            border-radius: 1000px;
            width: 50px;
            height: 50px;
            background-color: #0078C3;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            img{
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 1000px;
            }
        }
      }
    // }
  }
}
@media screen and (max-width: 1024px) {
    .header {
        .header-container {
          .tags-container {
            display: flex;
            gap: 15px;
            align-items: center;
            .nav-tags {
              display: flex;
              gap: 30px;
              align-items: center;
              justify-content: center;
              padding: 0px;
              margin: 0px;
              list-style-type: none;
              li {
                color: #000;
                font-family: 'Inter';
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
              :last-child {
                      color: #0078C3;
              }
            }
            span{
              color: lightgray ;
            }
            .search{
              font-size: 25px;
              height: 25px;
              width: 25px;
            }
          }
        }
      }
  }
