.notification-container {
  display: flex;
  flex-direction: column;
  margin: 30px 50px 0px 50px;
  h2 {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin: 0px;
    text-align: left;
    line-height: normal;
  }
  .notification-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
    width: 100% !important; 
    .notification-row {
      display: flex;
      justify-content: space-between; 
      box-shadow: rgba(0, 0, 0, 0.2) 0px 14px 4px -5px;
      align-items: center;
      border: 1px solid #dfdfdf;
      border-radius: 6px;
      padding: 0px 20px;
      width: 100%;
      a{
        width: 55%;
        text-decoration: none;
      }
      .notification-text {
        color: #0b63f8;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .notification-time {
        color: #000;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .notification-row:hover{
      background-color: #4d85e7;
      transition: 0.5s;
      .notification-text {
        color: #dfdfdf;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .notification-time {
        color: #dfdfdf;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
