.activitylog-container {
    display: flex;
    flex-direction: column;
    margin: 30px 50px 0px 50px;
    h2 {
      color: #000;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      margin: 0px;
      text-align: left;
      line-height: normal;
    }
    .activity-wrapper{
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      gap: 20px;
      .long{
        width: 30%;
      }
      .short{
        width: 100px;
      }
      table.blueTable {
        width: 100%;
        text-align: center;
        border: none;
        border-spacing: 0px;
      }
      table.blueTable td{
        // border: 1px solid #C7C7C7;
      }
      table.blueTable th {
        color: #000;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
      }
      table.blueTable tbody td {
        font-size: 16px;
        padding: 10px 0px;
      }
      .blue{
       color: #0B63F8;
      }
      tr{
        border: 1px solid #F2F2F2; 
      }
      .thf{
        display: flex;
        flex-direction: column;
        // border-bottom: 1px solid #C7C7C7;
        td{
        }
      }
      .underline{
        text-decoration: underline;
      }
      table.blueTable thead {
        // background: #d9d9d9;
      }
      table.blueTable thead th {
        color: #000;
        font-family: Poppins;
        padding: 10px 0px;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
  


  /* Modal Container */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Content */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Close Button */
.modal-content .send {
  background: #0B63F8; /* Tomato Red */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}
.modal-content .row{
   display: flex;
   justify-content: center;
   gap: 10px;

.modal-content .close {
  background: #ff6347; /* Tomato Red */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}
/* Close Button Hover Effect */
.modal-content .close:hover {
  background: #ff4d35; /* Slightly darker red on hover */
}
.modal-content .send:hover {
  background: #0B63F8; /* Slightly darker red on hover */
}
}